body{
    font-family: 'Noto Sans', sans-serif;
    margin: auto;
}
h1{
    font-size: 40px;

}
h2{
    color: gray;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 30%;
    padding-left: 10%;

}
.half-width img
{
    width: 90%;
    padding-left: 10%;
    
}
.link-button
{
    text-decoration: none;
    color: white;
    background-color: orangered;
    padding: 10px 50px;
    border-radius: 5px;
    font-weight: 700;
    border-radius: 30px; 
    background-image: linear-gradient(orange,tomato);
    margin-top: 50px;
}
.middle-background{
    background-image: url(images/shapes/Frame\ 58.jpg);

}